div.month {
    width: 880px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

.right {
	float: right;
	width: 33%;
}

.left {
	float: left;
	width: 33%;
}

div.weekdays, div.day, div.today {
	width: 120px;
    float: left;
    border-right: 1px solid black;
    border-bottom: 1px solid black; 
    padding: 5px;
    font-size: small;
    font-weight: bold;
    line-height: 1.0em;
    text-align: right;
}

div.headingweekdays {
    overflow: auto;
}

div.day, div.today {
	height: 35px;
}

div.week {
    float: left;
    width: 43px;
    font-size: small;
    font-style: italic;
    text-align: center;
} 

span.holiday, span.red {
	color: red;
}

span.outsidemonth {
	font-style: italic;
	font-size: smaller;
	color: #999;
}

div.today {
	background: #c6d5e8;
}